<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>838943441860-c37f5bubjeo6olrrlmg2eav49qbh5vbf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.838943441860-c37f5bubjeo6olrrlmg2eav49qbh5vbf</string>
	<key>API_KEY</key>
	<string>AIzaSyCDjyl20Zf9E15Qypqn1n7O8gj2JwhZYPY</string>
	<key>GCM_SENDER_ID</key>
	<string>838943441860</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Ualexeyv.VKClientServer</string>
	<key>PROJECT_ID</key>
	<string>vkgb-94d48</string>
	<key>STORAGE_BUCKET</key>
	<string>vkgb-94d48.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:838943441860:ios:f701e0a4f93d6dcf079a91</string>
</dict>
</plist>